.container-form-abm
{
    display: grid;
    gap: 10px;
}

.container-colores
{
    gap: 40px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box 
}

.container-abm
{
    display: flex;
    gap: 40px;
    width: 100%;
    padding: 30px;
    box-sizing: border-box
}

.container-abm-colores
{
    display: grid;
    gap: 20px;
    background-color: var(--fondo1);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px 40px;
    box-shadow: 0px 0px 40px #0000002e;
}

.container-info-colores
{
    display: flex;
    gap: 10px;
}

.btn-agregar-a-color
{
    border-radius: 70px;
    background-color: var(--principal);
    border: none;
    cursor: pointer;
    min-width: 39px;
    min-height: 39px;
    height: 40px;
}

.container-form-abm-colores
{
    display: flex;
    gap: 10px;
}