.container-menu
{
    display: grid;
    width: 100%;
    height: calc(100vh - 70px);
    padding: 10%;
    box-sizing: border-box;
    gap: 15px;
}

.btn-general-menu
{
    font-family: 'Roboto', sans-serif;
    border: none;
    text-align: center;
    align-items: center;
    border-radius: 50px;
    box-sizing: border-box;
    background-color: var(--principal);
    color: var(--fondo1);
    width: 100%;
    height: 100%;
    font-size: 1rem;
    cursor: pointer;
}

.container-header-nav
{
    display: flex;
    align-items: center;
    gap: 20px;
    max-height: 70px;
}

.btn-nav-general-volver
{
    display: flex;
    align-items: center;
    height: 40px;
    background-color: var(--principal);
    color: var(--fondo1);
    border-radius: 5px;
    border: none;
    font-family: 'Nunito';
    cursor: pointer;
}

@media screen and (min-width: 700px)
{
    .container-menu
    {
        grid-template-columns: repeat(2, 1fr);
        height: calc(450px);
    }
}

@media screen and (min-width: 1024px)
{
    .container-menu
    {
        padding: 0;
        align-content: center;
        width: 500px;
    }

    .container-web-menu
    {
        display: flex;
        justify-content: center;
    }
}