.back-registro
{
    display: flex;
    justify-content: center;
    height: 100vh;
    align-items: center;
    background-color: var(--fondo2);
}

.container-registro
{
    width: 400px;
    background-color: var(--fondo1);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 50px 40px;
    box-shadow: 0px 0px 40px #0000002e;
}

.header-registro
{
    display: flex;
    justify-content: center;
}

.menu-registro
{
    display: grid;
    gap: 17px;
}